// Variables
$pink: rgb(252, 166, 209);
$bgColor: rgb(27, 29, 54);
$borderColor: rgb(153, 214, 234);
$cardColor: red;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bgColor;
}

.display-1 {
  margin-top: 50px;
  font-weight: 600;
  color: $pink;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  input {
    width: 20em;
    margin: 20px auto;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid $borderColor;
    background-color: transparent;
  }
}

.card {
  margin-top: 20px;
  width: 800px;
  background-color: #191919;
  color: $pink;

  .data-container {
    text-align: center;

    .profile-stats-container {
      width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #141d2f;
      border-radius: 10px;
      text-align: center;
    }

    .profile-stat {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    img {
      width: 250px;
      height: 250px;
    }
  }
}
