form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {

  input {
    width: 20em;
    padding: 10px;
    margin-right: 10px;
  }

}

.card {
  margin-top: 20px;
  width: 800px;
  background-color: gray;

  .data-container {
    text-align: center;

    img {
      width: 250px;
      height: 250px;
    }
  }
}
