// Variables
$pinkColor: #fca6d1;
$bgColor: #1b1d36;
$blueColor: #99d6ea;
$yellowColor: #fffb85;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bgColor;
}

.display-1 {
  margin-top: 50px;
  font-weight: 600;
  color: $pinkColor;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  input {
    background: url("./images/search.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 25px;
    outline: none;
    padding: 12px;
    width: 500px;
    padding-left: 45px;
    border-radius: 64px;
    margin: 20px auto;
    margin-right: 10px;
    border: 2px solid $blueColor;
    background-color: transparent;
    color: $blueColor;
  }

  ::placeholder {
    color: $blueColor;
  }
}

.card {
  margin-top: 20px;
  width: 800px;
  border: 5px solid $bgColor;
  background-color: transparent;
  color: $yellowColor;

  .data-container {
    text-align: center;

    .profile-stats-container {
      width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #141d2f;
      border-radius: 10px;
      text-align: center;
    }

    .profile-stat {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    img {
      width: 250px;
      height: 250px;
    }
  }
}
