* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}
body {
  background-color: #1b1d36;
  font-size: 15px;
  color: #4b6a9b;
}

.display-1 {
  margin-top: 50px;
  font-weight: 600;
  color: #fca6d1;
}

input {
  background: url("./images/search.png");
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 20px;
  outline: none;
  padding: 12px;
  width: 500px;
  padding-left: 45px;
  border-radius: 64px;
  margin: 20px;
  border: 2px solid #99d6ea;
  background-color: transparent;
  color: #99d6ea;
}

::placeholder {
  color: #99d6ea;
}

button {
  min-width: 84px;
  height: 75%;
  margin-right: 7px;
  border-radius: 10px;
  border: 2px solid #99d6ea;
  color: #99d6ea;
  padding: 10px;
  background-color: transparent;
  transition: 0.5s all ease;
}

button:hover {
  transition: 0.5s all ease;
  background-color: #99d6ea;
  color: black;
}

.container {
  max-width: 573px;
}

.profile-container {
  margin-top: 24px;
  max-height: 600px;
  width: 720px;
  margin: 0 auto;
  background-color: #1e2a47;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
}
.profile-content {
  width: 480px;
  margin-left: 200px;
  height: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-info-wrapper {
  margin-left: 40px;
}

.profile-header {
  display: flex;
  position: relative;
  right: 155px;
  max-height: 40px;
  min-width: 625px;
  margin-bottom: 10%;
}

#avatar {
  width: 117px;
  height: 117px;
  border-radius: 90px;
}

.profile-name h2 {
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

#bio {
  line-height: 25px;
}

#user {
  font-size: 16px;
  color: #0079ff;
}

.email {
  font-size: 1.2em;
  color: #fffb85;
}

.profile-stats-wrapper {
  padding-left: 40px;
  display: flex;
  background-color: #1b1d36;
  border-radius: 10px;
  text-align: center;
}
.profile-stat {
  display: flex;
  padding: 5px 5%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  margin-left: -20px;
  margin-right: 100px;
}

.stat-title {
  font-size: 13px;
}

#name {
  font-size: 26px;
}

.stat-value {
  font-size: 25px;
  text-align: start;
  font-weight: bold;
  color: #fca6d1;
}

.profile-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: space-between;
  max-height: 15px;
  height: 127px;
}
.profile-info {
  display: flex;
  transition: 1s all ease;
}

.profile-info:hover {
  cursor: pointer;
  color: #fffb85;
  transition: 1s all ease;
}

.profile-info i {
  font-size: 1.5em;
}

.profile-info p {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 90px;
  }
  .profile-container {
    min-height: 100vh;
    min-width: 100%;
    margin-top: 24px;
  }
  .profile-content {
    min-width: 500px;
  }
  #avatar {
    width: 117px;
    height: 117px;
  }
  .profile-info-wrapper {
    min-height: 117px;
    justify-content: center;
  }
  #name {
    font-size: 26px;
  }
  #user {
    font-size: 16px;
  }

  .profile-stat {
    width: 50%;
    text-align: start;
    justify-content: center;
  }
  .stat-title {
    font-size: 10px;
  }

  .stat-value {
    font-size: 10px;
  }
  .profile-bottom-wrapper {
    flex-direction: row;
    flex-flow: column wrap;
    justify-content: space-between;
    max-height: 100px;
  }
}
